body {
  background-color: black;
}

img.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.center {
  text-align: center;
}

.green {
  color: hsl(136, 100%, 53%);
}

img {
  margin-left: 600px;
}
  
